/* 
    Document   : primarytest
    Created on : 10-mar-2012, 18:23:24
    Author     : USUARIO
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: #9999ff;
}
* {
    margin:1%;
    padding:0%;
}

#cabecera{
    background-color: #999999;
    height: 100%;
    border: 1px solid #777;
    
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    font: oblique 150% serif bold;
    
    -moz-border-radius-bottomleft: 1%;
    -moz-border-radius-topright: 1%;
    -moz-border-radius-bottomright: 8%;
    -moz-border-radius-topleft: 8%;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 8em;
    -webkit-border-top-left-radius: 8em;
}
#cuerpo{
    background-color: #999999;
    height: 100%;
    border: 1px solid #777;
    
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    font: oblique 150% serif bold;
    
    -moz-border-radius-bottomleft: 1%;
    -moz-border-radius-topright: 1%;
    -moz-border-radius-bottomright: 8%;
    -moz-border-radius-topleft: 8%;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 8em;
    -webkit-border-top-left-radius: 8em;
}
#numeros{
    background-color: #999999;
    height: 100%;
    border: 1px solid #999;
    
    font: oblique 150% serif bold;
    text-align: center;
}
.sombras{
    -webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=4);
}