/* 
    Document   : LoginDesign
    Created on : 10-mar-2012, 16:51:23
    Author     : familia
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body, div, h1, form, fieldset, input, textarea {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	/*height: 100%;*/
}

body {
        background: #e5efd1; /*color fondo*/
         
	font-family: sans-serif;
}

#Columnas {
        /*altura*/
        height: auto;
        /*minimo de ancho*/
        min-width: 1000px;
        max-width: 1000px;
        /*márgenes*/
        margin: auto; /*10px 10px 10px 10px;*/
        /*definición de columnas*/
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
          /*Espacio entre columnas*/
        column-gap: normal; /*1em;*/
        -webkit-column-gap: auto; /*1em;*/
        -moz-column-gap: 2em;/* 2em;*/
        -o-column-gap: auto; /*1em;*/
         /*Agrega una barra solida de color*/
        column-rule: 2px solid #666;
        -webkit-column-rule: 2px solid #666;
        -moz-column-rule: 3px solid #666;
        -o-column-rule: 2px solid #666;
        
}

#login {
        position: relative; 
	min-width: 240px; width: 350px; margin: 6em auto;/*6em auto 20em;*/ padding: 35px 25px;
	background: #bbce91; border: 1px solid #e1e1e1;  /*color cuadro / color linea*/
	-moz-box-shadow: 0px 0px 10px #444; /*sombra cuadro login en mozilla*/
	-webkit-box-shadow: 0px 0px 10px #444; /*sombra cuadro login en vabegadores webkit*/
}

#registro {
        position: relative;
        min-width: 240px; width: 350px; margin: 6em auto; padding: 35px 25px;
	background: #bbce91; border: 1px solid #e1e1e1;  /*color cuadro / color linea*/
	-moz-box-shadow: 0px 0px 10px #444; /*sombra cuadro registro en mozilla*/
	-webkit-box-shadow: 0px 0px 10px #444; /*sombra cuadro contacto en vabegadores webkit*/
}

h1 {

    font-size: 50px; color: #264a2c; text-transform: uppercase;
    text-align: center; margin: 50px 0 0 0px; text-shadow: 0 0 0 #1a261c; /*sombra de texto*/
}

h2 {
	font-size: 30px; color: #273d2b; text-transform: uppercase;
	text-align: center; margin: 0 0 15px 0; text-shadow: 0px 1px 0px #f2f2f2;
}

label {
	/*float: left;*/ margin: 10px 10px 7px 15px; width: 400px;
	text-align: left; font-size: 16px; color: #232920;
	text-transform: uppercase; text-shadow: 0px 1px 0px #f2f2f2;
}

input {
	width: 270px; height: 35px; padding: 5px 20px 0px 20px; margin: 10px 0px 20px 15px;
	background: #7d936d;
	border-radius: 5px; -moz-border-radius: 3px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: none; text-shadow: 0px -1px 0px #334f71;
}
	input::-webkit-input-placeholder  {
    	color: #bcccaf; text-shadow: 0px -1px 0px #3e4e34;
	}
	input:-moz-placeholder {
	    color: #bcccaf; text-shadow: 0px 1px 0px #3e4e34;
	}

input[type=submit] {
	width: 150px; height: 48px; float: right; padding: 10px 15px; margin: 15px 25px 0 0;
        font-family: sans-serif; font-size: 20px; color: #f2f2f2; text-transform: none; text-shadow: 0px 1px 0px #334f71;
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #57623d;
	cursor: pointer;
}

a {
    margin: 20px 30px 30px 20px; 
    font-family: sans-serif; font-size: 30px; color: #5fae24; text-transform: none; text-shadow: 0px -1px 0px #334f71;
}

select {
    width: 150px; height: 30px; padding: 0px 0px 0px 20px; margin: 10px 0px 20px 10px;
    background: #7d936d;
    font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: none; text-shadow: 0px 1px 0px #334f71;
}
