/* 
    Document   : DiseñoPaginaPrincipal
    Created on : 13-mar-2012, 19:03:46
    Author     : familia
    Description:
        Purpose of the stylesheet follows.
*/

/*Se importa Diseño base*/
@import url(../../Complementos/DiseñoBase.css);

/*  -------------------------------------------------------------
  BODY
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {}


/*  -------------------------------------------------------------
  TITULO "Tutor Adaptativo Inteligente"
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#bienvenida {
    display: inline-table;
    
    margin: auto;
    padding: 0em 0em 0em 0em;
    width: 100%;
    /*border: 0.1em solid white;*/
    background: white;
}
/*  -------------------------------------------------------------
  TITULO "Tutor Adaptativo Inteligente"
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#cuadroTitulo {}

/*  -------------------------------------------------------------
  CONTENEDOR DE TODA LA PAGINA
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#cuerpo{
    /*background: yellow;*/
}

/*  -------------------------------------------------------------
  CAJA CON EL CONTENIDO
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#contenedorColumnas{
    margin: 0.3em auto auto auto;
}

/*  -------------------------------------------------------------
  CONTENEDOR DE COLUMNAS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#contenedorColumnas{}

    table {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    tr,td {
        border: 0em solid black;
        margin: 0;
        text-align: center;
    }

   
/*  -------------------------------------------------------------
  ESTILO DE ETIQUETAS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
label {
    margin: 0.1em auto 0.1em 0.9em;
}
    /*  Modernizr: texto sombreado
       - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    #nivel {
        margin: 0.55em auto 0.5em 0.9em;
    }

/*  -------------------------------------------------------------
  ESTILO DE CUADROS DE ENTRADA
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
input {     
    width: 15.0em; 
    height: 1.6em; 
    margin:  0.1em 0em 0.7em 0.9em; 
}
    /* Select
       - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    #selectNivel {
        width: 12.56em; 
        height: 2em; 
        margin: 0.55em auto 0.7em 0.9em;
    }

/*  -------------------------------------------------------------
  ESTILO DE ENLACES DE CLASE "boton"
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.boton{
    width: 9em; 
    height: 3em;
    clear: both;
    float: right;
    margin: 0.5em auto 0.5em auto;

}

#btnEnteros, #btnFraccionarios, #btnDecimales {
    float:none;
    /*margin: 0.5em 1em 0.5em 2em;*/
}

  
/*  -------------------------------------------------------------
  PIE DE PÁGINA
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {}


h6 {
    margin: auto 1em auto auto;    
    text-align: right;
}